.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
terraform.tfvars
*.auto.tfvars
backend.hcl
!*.tfvars.example
!backend.hcl.example
.idea/
.vscode/*
!.vscode/extensions.json
.env
*.zip
checkov-report*
tfplan.txt
plan.json
